
#header-img  {
    width: 100%;
    float: left;
}
/* .jumbotron  {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
} */
#header  {
    background-color: black;
    
}

nav {
    background-color: black;
    color: white;
}